<div class="input-group my_rating">
	<div class="input-group-prepend">
		<!-- <a href="#" data-qid="{{ object.id }}" data-vote="inc" class="js-vote"> -->
		<button class="btn btn-outline-success" type="button">&#8593</button>
		<!-- </a> -->
	</div>
	<input type="text" class="form-control" id="my_rating_input" placeholder="{{ object.rating }}" readonly>
	<div class="input-group-append">
		<!-- <a href="#" data-qid="{{ object.id }}" data-vote="dec" class="js-vote"> -->
		<button class="btn btn-outline-danger" type="button">&#8595</button>   
		<!-- </a>      -->
	</div>
</div>