{% load static %}

<!--Question card-->
<div id="my_card" class="card mb-3">
  <div class="row no-gutters">

    <!--Left side-->
    <div class="col-md-3">
      <a href="{% url 'question_detail_url' slug=question.slug %}">
        <!-- Important! Here is a slash in img -->
        <img src="/{{ question.author.avatar }}" class="card-img" alt="...">
      </a>

      {% include 'Includes/my_rating.html' %}

    </div>

    <!--Right side-->
    <div class="col-md-9">
      <div id="my_card_body" class="card-body">
        <a href="{% url 'question_detail_url' slug=question.slug %}"><h5 class="card-title">{{ question.title }}</h5></a>
        <p class="card-text">{{ question.body }}</p>
        <div class="footer mt-auto">
          <a href="{% url 'question_detail_url' slug=question.slug %}"><button type="button" class="btn btn-primary mb-2"><span class="badge badge-light">{{ question.answers.count }}</span>  Answers</button></a>
          <div class="d-flex justify-content-left">
            {% for tag in question.tags.all %}
              <a href="{% url 'tags_url' %}" class="badge badge-secondary mr-1">{{ tag.title }}</a>
            {% endfor %}
          </div>
          <p class="card-text"><small class="text-muted">Asked by {{ question.author }} at {{ question.datetime_published }}</small></p>
        </div>
      </div>
    </div>
    
  </div>
</div>