{% load static %}

<!--Question card-->
<div id="my_card" class="card mb-3">
  <div class="row no-gutters">

    <!--Left side-->
    <div class="col-md-3">
      <a href="{% url 'question_detail_url' id=question.id %}">
        <img src="{{ question.author.avatar.url }}" class="card-img" alt="...">
      </a>
      {% include 'Includes/my_rating.html' with object=question %}
    </div>

    <!--Right side-->
    <div class="col-md-9">
      <div id="my_card_body" class="card-body">
        <a href="{% url 'question_detail_url' id=question.id %}"><h5 class="card-title">{{ question.title }}</h5></a>
        <p class="card-text">{{ question.body }}</p>

        <div id="question_spacer"></div>

        <div class="question_info">
          <a href="{% url 'question_detail_url' id=question.id %}"><button type="button" class="btn btn-primary mb-2"><span class="badge badge-light">{{ question.answers.count }}</span>  Answers</button></a>
          <div class="d-flex justify-content-left">
            {% for tag in question.tags.all %}
              <a href="{% url 'tag_detail_url' title=tag.title %}" class="badge badge-secondary mr-1">{{ tag.title }}</a>
            {% endfor %}
          </div>
          <p class="card-text"><small class="text-muted">Asked by {{ question.author }} at {{ question.datetime_published }}</small></p>
        </div>
      
      </div>
    </div>
    
  </div>
</div>