{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- Настройка viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <!-- Подключаем Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <!--
        
    -->
    <title> {% block title %} Que&Ayy {% endblock %} </title>
  </head>
  <body style="background-color: #f2f3ff;">
    {% include 'nav_bar.html' %}
    <div class="row" style="margin-top: 76px; margin-bottom: 20px;">

      <!-- Big left margin -->
      <div class="col-md-2"></div>

      <!-- Main column -->
      <div class="col-md-6" style="background-color: white; box-shadow: 0 0 10px #9ea5ff; right: 10px; border: 0px solid; border-radius: 15px;">
      {% block content %}
        No content for you today, my man
      {% endblock content %}
      </div>

      <!-- Sidebar -->
      <div class="col-md-2" style="position: fixed; left: calc((100% / 12 * 8) + 15px); display: table; background-color: white; box-shadow: 0 0 10px #9ea5ff; border: 0px solid; border-radius: 15px;">
        <div class="container mt-3">
          <h4>Popular tags</h4>

          <h6>paiton</h6>
          <h6>deep cee</h6>
        </div>
        <div class="container mb-3">
          <h4>Best Members</h4>
          <h6 style="color: red;">1st col goes crazy when changing the size of the screen</h6>


        </div>
      </div>

      <!-- Big right margin -->
      <div class="col-md-2"></div>

    </div>

<!--
    <div class="container-fluid" style="margin: 0, auto; max-width: 800px; background-color: black; color: white;">
      <div class="row">
        <div class="col-md-2">
          <h3>Title 2</h3>
        </div>
      </div>
    </div>
-->

    <!-- Подключаем jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Подключаем Bootstrap JS -->    
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>