{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- Настройка viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <!-- Подключаем Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >

  <title> {% block title %} Que&Ayy {% endblock %} </title>
  </head>
  <body>
    {% include 'nav_bar.html' %}
    <div id="main_area" class="row">

      <!-- Big left margin -->
      <div class="col-md-2"></div>

      <!-- Main column -->
      <div id="main_column" class="col-md-6">
      {% block content %}
        No content for you today, my man
      {% endblock content %}
      {% if is_paginated %}
        <div class="my_pagination">
          <nav aria-label="...">
            <ul class="pagination mb-0">
              <li class="page-item {% if not prev_url %} disabled {% endif %}">
                <a class="page-link" href="{{ prev_url }}" tabindex="-1">Previous</a>
              </li>
              {% for n in page_object.paginator.page_range %}
                {% if page_object.number == n %}
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ n }}">{{ n }}<span class="sr-only">(current)</span></a>
                  </li>
                {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                  </li>
                {% endif %}
              {% endfor %}
              <li class="page-item {% if not next_url %} disabled {% endif %}">
                <a class="page-link" href="{{ next_url }}" tabindex="-1">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      {% endif %}
      </div>

      <!-- Sidebar -->
      <div id="sidebar" class="col-md-2">
        <div class="container mt-3">
          <h4>Popular tags</h4>

          <h6>paiton</h6>
          <h6>deep cee</h6>
        </div>
        <div class="container mb-3">
          <h4>Best Members</h4>
          <h6 style="color: red;">how to make tags appear on top of it?</h6>
          <h6 style="color: red;">How to show hot/new questions??</h6>
        </div>
      </div>

      <!-- Big right margin -->
      <div class="col-md-2"></div>

    </div>

    <!-- Подключаем jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Подключаем Bootstrap JS -->    
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>