{% extends 'base.html' %}

{% load static %}

{% block title %} Login {% endblock title %}

{% block content %}

<form class="form-signin text-center login_form " action="{% url 'login_url' %}" method="post">
	{% csrf_token %}
	<img class="rounded mb-4" src="{% static 'images/logo.png' %}" alt="" width="144" height="144">
	<h1 class="h2 mb-0 font-weight-normal">Please sign in</h1>
	<p id="or_else" class="mb-2"><small>or else</small></p>

	<!-- For main errors -->
    {% if form.non_field_errors %}
	    {% for error in form.non_field_errors %}
	        <div class="alert alert-danger">
	            <strong>{{ error|escape }}</strong>
	        </div>
	    {% endfor %}
    {% endif %}

  	{% for field in form %}

	    {{ field.help_text|safe }}
	    {{ field }}

  	{% endfor %}

	<div class="checkbox mt-2 mb-2">
		<label>
			<input type="checkbox" value="remember-me"> Remember me
		</label>
	</div>
	<button class="btn btn-lg btn-primary btn-block form_centered" type="submit">Login</button>
	<p class="mt-5 mb-3 text-muted">© 2019-2020</p>
</form>

{% endblock content %}