{% extends 'base.html' %}

{% block title %} Sign Up {% endblock title %}

{% block content %}

<div class="d-flex justify-content-left mb-3">
  <h3>Register</h3>
</div>

<form action="{% url 'signup_url' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {% for error in form.non_field_errors %}
    {{ error }}
    <!-- I am too tired now but maybe next time i'll insert modal window -->
  {% endfor %}

  {% for field in form %}
    <div class="form-group">
      {% if field.errors %}
        <div class="alert alert-danger">
          {{ field.errors }}
        </div>
      {% endif %}

      {{ field.label }}
      {{ field.help_text|safe }}
      {{ field }}
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Sign up!</button>
  
</form>

<!-- TODO: solve it later
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember me</label>
  </div>
 -->

{% endblock content %}